*.autosave
*.cmake
*.dir
*.exe
*.filters
*.idb
*.map
*.ncb
*.o
*.obj
*.opensdf
*.res
*.sdf
*.sln
*.suo
*.tds
*.user
*.vcproj
*.vcxproj
*~
.vs
CMakeCache.txt
CMakeFiles
Debug
Makefile
Release
TMP1.$$$
build
ipch
x64
*-old
*.skrold
a.txt
lib*.a
*.lib
!/testdata/data-x86/*.exe
!/testdata/data-x86/*.dll
!/testdata/data-x64/*.exe
!/testdata/data-x64/*.dll
Testing
*.ninja
.ninja*
dfmsc.exe.txt
a.*
shell32.*
user32.*
imm32.*
imm32-*.*
install_manifest.txt
ntdll.*
ntoskrnl.*
win32k.*
win32u*
